input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.background-gradient-md {
    background: none;
}

@media (min-width: 768px) {
    .background-gradient-md {
        background: radial-gradient(circle at top, #EED7D8, #FFFFFF);
    }
}